@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: darkgrey;
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 20px rgb(46, 47, 65);
  border-radius: 100px;
}

.section::-webkit-scrollbar {
  width: 16px;
}

.section::-webkit-scrollbar-track {
}

.section::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
}

#table {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: scroll;
}

@layer components {
  .div-wrap {
    @apply bg-white flex flex-col items-center m-auto justify-center gap-8 w-full h-4/5 rounded;
  }
  .btn {
    @apply flex bg-[#009EDD] text-white hover:scale-105 hover:shadow-2xl px-8 py-4 w-full justify-between items-center gap-2 rounded transition-all;
  }
  .text-btn{
    @apply uppercase text-base text-white;
  }
  .text-table{
    @apply text-[#999] text-base uppercase text-left;
  }
  .text-title{
    @apply font-bold text-xl text-[#2F2E41];
  }
  .icon{
    @apply cursor-pointer text-[#009EDD] hover:text-black transition-all;
  }
}